@import url(//fonts.googleapis.com/css?family=Montserrat:400,700);

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?-gsif7l");
  src: url("../fonts/icomoon.eot?#iefix-gsif7l") format("embedded-opentype"), url("../fonts/icomoon.woff?-gsif7l") format("woff"), url("../fonts/icomoon.ttf?-gsif7l") format("truetype"), url("../fonts/icomoon.svg?-gsif7l#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

#sustainable-gsa header, #thumb-nav header {
    font-family:"Montserrat", sans-serif;
}

.icon-search:before {
  content: "\e986"; }

.icon-phone:before {
  content: "\e600"; }

.icon-mobile:before {
  content: "\e601"; }

.icon-mail:before {
  content: "\e602"; }

.icon-paperplane:before {
  content: "\e603"; }

.icon-paperclip:before {
  content: "\e604"; }

.icon-reply:before {
  content: "\e605"; }

.icon-forward:before {
  content: "\e606"; }

.icon-user:before {
  content: "\e607"; }

.icon-users:before {
  content: "\e608"; }

.icon-user-add:before {
  content: "\e609"; }

.icon-vcard:before {
  content: "\e60a"; }

.icon-export:before {
  content: "\e60b"; }

.icon-location:before {
  content: "\e60c"; }

.icon-map:before {
  content: "\e60d"; }

.icon-share:before {
  content: "\e60e"; }

.icon-printer:before {
  content: "\e600"; }

.icon-star:before {
  content: "\e60f"; }

.icon-chat:before {
  content: "\e610"; }

.icon-comment:before {
  content: "\e611"; }

.icon-flag:before {
  content: "\e612"; }

.icon-cog:before {
  content: "\e613"; }

.icon-airplane:before {
  content: "\e614"; }

.icon-calendar:before {
  content: "\e615"; }

.icon-bolt:before {
  content: "\e616"; }

.icon-battery:before {
  content: "\e617"; }

.icon-cone:before {
  content: "\e618"; }

.icon-earth:before {
  content: "\e619"; }

.icon-keyboard:before {
  content: "\e61a"; }

.icon-code:before {
  content: "\e61b"; }

.icon-rss:before {
  content: "\e61c"; }

.icon-signal:before {
  content: "\e61d"; }

.icon-checkmark:before {
  content: "\e61e"; }

.icon-cross:before {
  content: "\e61f"; }

.icon-minus:before {
  content: "\e620"; }

.icon-plus:before {
  content: "\e621"; }

.icon-cross2:before {
  content: "\e622"; }

.icon-minus2:before {
  content: "\e623"; }

.icon-plus2:before {
  content: "\e624"; }

.icon-info:before {
  content: "\e625"; }

.icon-info2:before {
  content: "\e626"; }

.icon-cycle:before {
  content: "\e627"; }

.icon-cw:before {
  content: "\e628"; }

.icon-ccw:before {
  content: "\e629"; }

.icon-retweet:before {
  content: "\e62a"; }

.icon-layout:before {
  content: "\e62b"; }

.icon-list:before {
  content: "\e62c"; }

.icon-docs:before {
  content: "\e62d"; }

.icon-pictures:before {
  content: "\e62e"; }

.icon-music:before {
  content: "\e62f"; }

.icon-trash:before {
  content: "\e630"; }

.icon-upload:before {
  content: "\e631"; }

.icon-download:before {
  content: "\e632"; }

.icon-disk:before {
  content: "\e633"; }

.icon-play:before {
  content: "\e634"; }

.icon-pause:before {
  content: "\e635"; }

.icon-sound:before {
  content: "\e636"; }

.icon-arrow-left:before {
  content: "\e637"; }

.icon-arrow-down:before {
  content: "\e638"; }

.icon-arrow-up:before {
  content: "\e639"; }

.icon-arrow-right:before {
  content: "\e63a"; }

.icon-twitter:before {
  content: "\e63b"; }

.icon-twitter2:before {
  content: "\e63c"; }

.icon-facebook:before {
  content: "\e63d"; }

.icon-facebook2:before {
  content: "\e63e"; }

.icon-facebook3:before {
  content: "\e63f"; }

.icon-googleplus:before {
  content: "\e640"; }

.icon-googleplus2:before {
  content: "\e641"; }

.icon-pinterest:before {
  content: "\e642"; }

.icon-pinterest2:before {
  content: "\e643"; }

.icon-tumblr:before {
  content: "\e644"; }

.icon-linkedin:before {
  content: "\e645"; }

.icon-linkedin2:before {
  content: "\e646"; }

.icon-dropbox:before {
  content: "\e647"; }

.icon-skype:before {
  content: "\e648"; }

/***  Transitions  ***/
/***  Radius  ***/
/***  Box Border  ***/
/***  Cover BG  ***/
/***  Flexbox  ***/
/* --------------------
Extenders
--------------------------*/
/* skip nav */
#skip-to-content-destination a.skip-content {
  color: #060;
  height: 1px;
  left: -1000px;
  overflow: hidden;
  position: absolute;
  text-align: left;
  top: -1000px;
  width: 1px;
  z-index: 9000; }

#skip-to-content-destination a.skip-content:active, #skip-to-content-destination a.skip-content:focus {
  background-color: #D9E6DF;
  height: auto;
  left: 0;
  overflow: auto;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  top: 0;
  width: 100%;
  z-index: 9000; }

#header {
  height: 140px;
  *height: 136px;
  margin-left: 0; }
  #header > a > img {
    margin-bottom: 13px; }
  #header li {
    list-style: none; }

#superheader {
  width: 100%;
  font: 13px/16px Helvetica,Verdana,Arial,Garuda,sans-serif; }

#GSAsearchHeader {
  float: right !important;
  text-align: right;
  margin-top: 15px; }
  @media only screen and (max-width: 992px) {
    #GSAsearchHeader {
      display: none; } }

#GSAsearchHeader label {
  display: none; }

#searchButton {
  position: relative;
  top: 6px;
  /* ie7 */
  *top: 3px;
  /* !ie7 */ }

#searchBox {
  height: 18px; }

#GSAloginHeader {
  float: right;
  margin-top: 7px; }
  @media only screen and (max-width: 992px) {
    #GSAloginHeader {
      display: none; } }
  #GSAloginHeader ul {
    padding-left: 0; }
    #GSAloginHeader ul li {
      float: left;
      font-size: .85em;
      padding: 0 5px; }

/***************** Navigation *****************/
/* Gray - GSA.gov ONLY */
#gray {
  background: url(http://gsa.gov/resources/images/overlay.png) repeat-x;
  display: none;
  z-index: 980;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0; }

#topnav {
  width: 100%;
  height: 55px;
  margin: 10px 0 0;
  *margin: 0;
  padding: 0;
  clear: both;
  background: url(http://gsa.gov/resources/images/header_bg.gif);
  position: relative;
  z-index: 990; }
  @media only screen and (max-width: 992px) {
    #topnav {
      display: none; } }
  #topnav ul {
    padding-left: 0;
    margin-bottom: 0; }

#topnav ul, #topnav ul li {
  float: left; }

#topnav ul li a {
  display: block;
  font-family: Geneva,Verdana,sans-serif; }

#topnav .mainlk {
  cursor: default;
  height: 55px; }

#topnav a.mainlk {
  text-indent: -9999px; }

#topnav #lkhome .mainlk {
  width: 90px; }

#topnav #gsa_offers a.mainlk {
  width: 187px;
  background: url(http://gsa.gov/resources/images/gsa_offers.gif); }

#topnav #gsa_offers a.mainlk:hover, #topnav #gsa_offers a.mainlk.over {
  background: url(http://gsa.gov/resources/images/gsa_offers_hover.gif); }

#topnav #business_gsa .mainlk {
  width: 255px;
  background: url(http://gsa.gov/resources/images/business_gsa.gif); }

#topnav #business_gsa a.mainlk:hover, #topnav #business_gsa a.mainlk.over {
  background: url(http://gsa.gov/resources/images/business_gsa_hover.gif); }

#topnav #learn_more .mainlk {
  width: 177px;
  background: url(http://gsa.gov/resources/images/learn_more.gif); }

#topnav #learn_more a.mainlk:hover, #topnav #learn_more a.mainlk.over {
  background: url(http://gsa.gov/resources/images/learn_more_hover.gif); }

#topnav #blogs .mainlk {
  width: 177px;
  background: url(http://gsa.gov/resources/images/blogs.gif); }

#topnav #blogs a.mainlk:hover, #topnav #blogs a.mainlk.over {
  background: url(http://gsa.gov/resources/images/blogs_hover.gif); }

#topnav #lkstore .mainlk {
  width: 141px; }

#topnav li .submenu {
  position: absolute;
  width: 750px;
  background: #FFF;
  display: none;
  overflow: hidden;
  border-top: 1px solid #CCC;
  padding: 15px; }

#topnav #business_gsa .submenu {
  width: 490px; }

#topnav #learn_more .submenu {
  width: 512px; }

#topnav .submenu {
  margin-left: 0; }

#topnav li .submenu a {
  color: #323E95; }

#topnav li .submenu a:hover {
  text-decoration: underline; }

#topnav li .submenu ul {
  padding: 0 10px; }

#topnav #gsa_offers .submenu ul {
  width: 230px; }

#topnav #business_gsa .submenu ul {
  width: 225px; }

#topnav #learn_more .submenu ul {
  width: 150px; }

#topnav li .submenu ul li {
  width: 100%; }

#topnav li .submenu h2 {
  margin: 0;
  padding-top: 5px;
  width: 100%;
  background: url(http://gsa.gov/resources/images/double_line.gif) repeat-x 0 0;
  font-weight: 700;
  font-size: 1em !important; }

#topnav li .submenu h2 a {
  line-height: 25px;
  height: 25px;
  color: #232a63; }

#topnav li .submenu li a {
  line-height: 15px;
  font-size: .85em;
  margin-bottom: 5px; }

/* ***************************Breadcrumb Styles *********************************/
#breadcrumb {
  color: #282E8C;
  background: #bbc8e8;
  font-size: .85em;
  padding: 5px 0 5px 14px;
  margin: 0 0 15px; }
  @media only screen and (max-width: 992px) {
    #breadcrumb {
      display: none; } }

#breadcrumb a:link, #breadcrumb a:visited, #breadcrumb a:hover {
  text-decoration: underline; }

/****************************Footer Styles *********************************/
#footer {
  background: url(http://gsa.gov/resources/images/doubleline_hdr.gif) repeat-x 0 0;
  padding: 11px;
  margin-top: 30px;
  clear: both;
  text-align: center; }

#footer a {
  color: #666;
  font-size: .8em; }

#footer a:hover {
  text-decoration: underline; }

#footer ul#footer_navigation li {
  background: none;
  display: inline;
  border-right: 1px #666 solid;
  padding: 0 10px 2px; }

#footer ul#footer_navigation li.last {
  border-right: none; }

#footer img {
  margin-right: 7px; }

#footer td {
  font-size: .8em;
  color: #666; }

#footer span a:link, #footer span a:visited {
  padding: 0 5px; }

#footer span.footerLarge a:link, #footer span.footerLarge a:visited {
  color: white !important;
  text-decoration: none !important; }

#footer_icon {
  margin-top: 12px; }

#footer_icon span {
  position: relative;
  top: -5px;
  margin-right: 11px;
  color: #666;
  font-size: .85em; }

/****************************Mobile Styles *********************************/
#slideout-menu {
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  padding: 0;
  margin: 0;
  z-index: 10;
  border: 0;
  background: #47a2e3;
  min-height: 100%;
  color: #fff;
  overflow-y: auto; }
  #slideout-menu ul {
    padding: 0; }
    #slideout-menu ul a {
      padding: 15px 10px;
      display: block; }
  #slideout-menu > ul > li {
    width: 100%;
    background: #315369;
    text-transform: uppercase; }
    #slideout-menu > ul > li > ul > li {
      width: 100%;
      background: #47a2e3; }
  #slideout-menu #search_form {
    margin: 20px 0; }
    #slideout-menu #search_form .form-group {
      position: relative; }
      #slideout-menu #search_form .form-group #query {
        padding: 10px 50px 10px 10px;
        width: 100%;
        color: #333; }
      #slideout-menu #search_form .form-group #submit-search {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 50px;
        background: #315369;
        border: 0; }

/* =============================================================================
  MENU TOGGLE SWITCHES
============================================================================= */
/**
 * Toggle Switch Globals
 *
 * All switches should take on the class `cmn-toggle-switch` as well as their
 * variant that will give them unique properties. This class is an overview
 * class that acts as a reset for all versions of the icon.
 */
.cmn-toggle-switch {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 35px;
  height: 35px;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s; }

.cmn-toggle-switch:focus {
  outline: none; }

.cmn-toggle-switch span {
  display: block;
  position: absolute;
  top: 15.5px;
  left: 8px;
  right: 8px;
  height: 4px;
  background: white; }

.cmn-toggle-switch span::before,
.cmn-toggle-switch span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #fff;
  content: ""; }

.cmn-toggle-switch span::before {
  top: -7.5px; }

.cmn-toggle-switch span::after {
  bottom: -7.5px; }

/**
 * Style 2
 * 
 * Hamburger to "x" (htx). Takes on a hamburger shape, bars slide
 * down to center and transform into an "x".
 */
.cmn-toggle-switch__htx {
  background-color: #47a2e3; }

.cmn-toggle-switch__htx span {
  transition: background 0s 0.3s; }

.cmn-toggle-switch__htx span::before,
.cmn-toggle-switch__htx span::after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s; }

.cmn-toggle-switch__htx span::before {
  transition-property: top, transform; }

.cmn-toggle-switch__htx span::after {
  transition-property: bottom, transform; }

/* active state, i.e. menu open */
.cmn-toggle-switch__htx.active {
  background-color: #181e49; }

.cmn-toggle-switch__htx.active span {
  background: none; }

.cmn-toggle-switch__htx.active span::before {
  top: 0;
  transform: rotate(45deg); }

.cmn-toggle-switch__htx.active span::after {
  bottom: 0;
  transform: rotate(-45deg); }

.cmn-toggle-switch__htx.active span::before,
.cmn-toggle-switch__htx.active span::after {
  transition-delay: 0s, 0.3s; }

.block-wrap {
  display: none; }
  .block-wrap:first-child .rollover {
    display: block !important; }
  .block-wrap .block {
    height: 240px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
    overflow: hidden;
    cursor: pointer; }
    .block-wrap .block > a {
      display: block;
      color: inherit;
      height: 100%;
      -o-transition: background 0.5s;
      -ms-transition: background 0.5s;
      -moz-transition: background 0.5s;
      -webkit-transition: background 0.5s;
      transition: background 0.5s; }
      .block-wrap .block > a:hover {
        background: rgba(0, 66, 42, 0.8);
        text-decoration: none; }
      .block-wrap .block > a > p {
        padding: 5px 15px 0; }
    .block-wrap .block aside {
      position: absolute;
      top: 15px;
      left: 15px;
      padding: 5px 10px;
      background: green;
      text-transform: uppercase;
      font-size: 22px;
      font-size: 1.375rem;
        font-family: "Montserrat", sans-serif;}
    .block-wrap .block header {
      font-weight: 800;
      padding: 50px 0 0 15px;
      font-size: 32px;
      font-size: 2rem; }
    .block-wrap .block .rollover {
      display: none;
      padding: 5px 10px 10px 15px; }
      .block-wrap .block .rollover .arrow {
        font-size: 50px;
        font-size: 3.125rem;
        position: absolute;
        bottom: 10px;
        right: 10px; }

.block-wrap:first-child .block {
  cursor: default; }
  .block-wrap:first-child .block > a:hover {
    background: rgba(0, 0, 0, 0); }
  .block-wrap:first-child .block > a .rollover span {
    display: none; }
  .block-wrap:first-child .block header {
    font-size: 40px;
    font-size: 2.5rem;
    padding: 40px 40px 0;
    text-transform: uppercase; }
  .block-wrap:first-child .block aside {
    display: none; }
  .block-wrap:first-child .block p {
    padding: 5px 25px; }

.full-display-content {
  display: none; }

.inner-block {
  z-index: 2;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  color: #424242;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
  padding: 20px 25px; }
  .inner-block .banner-image {
    margin-bottom: 25px;
    background: #fff;
    border-top: 12px solid #339900;
    border-bottom: 3px solid #339900;}
    .inner-block .banner-image p {
      padding: 15px;
      margin: 0.75em 2.5em; }
  .inner-block > aside {
    top: 20px;
    left: 50px;
    position: absolute;
    background: green;
    padding: 8px 15px;
    font-size: 25px;
    font-size: 1.5625rem;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
    color: #fff; }
  .inner-block > header {
    padding: 0 0 10px 25px;
    font-size: 50px;
    font-size: 3.125rem; }
  .inner-block > article {
    margin: 0 25px; }
  .inner-block .overlay > .row > div {
    padding: 0 65px; }
  .inner-block .overlay article {
    position: relative;
    padding: 15px 0; }
    .inner-block .overlay article span {
      position: absolute;
      top: 50%;
      right: -8px; }

.slide {
  opacity: 0;
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  width: 100%;
  height: 100%; }

.current {
  opacity: 1;
    z-index: 1;}

.active-thumb .thumb {
  opacity: 1 !important; }

#thumb-nav {
  margin-bottom: 10px; }
  #thumb-nav .thumb-wrap {
    float: left;
    margin: 0 2px;
    display: none;
    background-color: black; }
    #thumb-nav .thumb-wrap .thumb {
      overflow: hidden;
      height: 100px;
      cursor: pointer;
      background-position: 50% 50%;
      color: white;
      text-decoration: 1px 1px 1px rgba(0, 0, 0, 0.8);
      position: relative;
      opacity: 0.7;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat; }
      #thumb-nav .thumb-wrap .thumb header {
        position: absolute;
        bottom: 25px;
        left: 0px;
        right: 40px;
        padding: 2px 6px;
        background: green;
        text-transform: uppercase;
        font-size: 19px;
        font-size: 1.1875rem;
        display: block; }
#thumb-nav > div:nth-child(3) header {
    bottom: 9px !important;
}
    #thumb-nav .thumb-wrap:first-child {
      margin-left: 0; }
      #thumb-nav .thumb-wrap:first-child .thumb {
        opacity: 1 !important; }
        #thumb-nav .thumb-wrap:first-child .thumb header {
          display: block !important;
          background: none;
          font-size: 18px;
          line-height: 1.2;
          font-weight: 500;
          top: 30px;
            left: 10px;}

body .main-container a:focus, body .main-container a:active, body .main-container a:visited {
      color: inherit;
      border: 0;
      outline: 2px dotted blue;
      text-decoration: none; }
#second-level {
	display: none;	
	margin-top: 25px;
}
#landing {
  overflow: hidden;
  min-height: 500px;
  position: relative;
  margin-top: 50px;  }
  #landing .slide-section {
    display: none;
    position: absolute;
    top: 50%;
    z-index: 99;
    background: #323e95;
    border: 0;
    padding: 5px 10px;
    color: #fff; }
    #landing .slide-section.slide-right {
      right: 0; }
    #landing .slide-section.slide-left {
      left: 0; }
  #landing .blocks-container {
    margin-left: -7.5px;
    margin-right: -7.5px;
    position: relative;
    overflow: hidden; }
    #landing .blocks-container .block-wrap {
      padding: 7.5px; }
  #landing #loader {
    background: url(../images/loader.gif) no-repeat 0 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 704px;
    height: 502px;
    margin-left: -352px;
    margin-top: -251px;
    display: block; }

#news {
  margin-top: 20px; }
  #news > div:first-child {
    padding-right: 8px; }
  #news > div:last-child {
    padding-left: 8px; }
  #news figure {
    float: left;
    padding-left: 0; }
    @media only screen and (max-width: 768px) {
      #news figure {
        float: none; } }
  #news article {
    min-height: 93px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    background: #eaeaea; }
    #news article > * {
      padding: 0;
      margin: 0; }

#columned-items article {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: top;
  -ms-flex-align: top;
  -webkit-align-items: top;
  -moz-align-items: top;
  align-items: top;
  margin: 10px 0;
  cursor: pointer; }
  #columned-items article figure {
    float: left;
    max-width: 50px;
    padding: 0; }
  #columned-items article > div {
    padding-left: 20px;
    float: right;
    -webkit-align-self: flex-end;
    -moz-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
    max-width: 100%; }
    #columned-items article > div h3 {
      padding: 0;
      margin: 0;
      font-weight: bold;
      font-size: 16px;
      color: #424242; }
    #columned-items article > div p {
      color: #424242;
      padding-bottom: 0;
      line-height: 1.4; }
